{% if latest_question_list %} <!-- I don't understand what this IF statement is saying -->
  <ul>
  {% for question in latest_question_list %}
      <!-- <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li> # this is the old link, but it's hardcoded. We'll change it to what's below to remove reliance on specific URL paths defined in my url configurations -->
      <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>  
  {% endfor %}
  </ul>
{% else %}
  <p>No polls are available.</p>
{% endif %}

<!-- Your project’s TEMPLATES setting describes how Django will load and render templates. The default settings file configures a DjangoTemplates backend whose APP_DIRS option is set to True. By convention DjangoTemplates looks for a “templates” subdirectory in each of the INSTALLED_APPS. -->
<!-- Because of how the app_directories template loader works as described above, you can refer to this template within Django as polls/index.html. -->